@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-top: 3.7%;
}

nav > link {
  color: #000;
}

.container-box{
  background-color: #f5f5f5;
  box-shadow: 2px 2px 4px 4px #262626;
  padding: 5% 10% 10% 10%;
  margin-top: 5%;
}

.login-label-font {
  font-family: 'Open sans', sans-serif;
  font-weight: 700;
}

.login-button {
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
}

h1 {
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  color: rgb(105, 89, 97);
}

.brand {
  background-image: -webkit-radial-gradient(center, 3em 40px, #00ccff, #9a87fa);
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) ) !important;
    color: transparent !important;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight:bold !important;
    font-size:30px !important;
}

.navlink {
  text-transform: uppercase;
    color: #DADADA !important;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold !important;
}

.banner-background {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.70),
      rgba(0, 0, 0, 0.70)
    ),
    url('./images/Banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh
}

.banner-h1 {
  background-image: -webkit-radial-gradient(center, 3em 40px, #00ccff, #9a87fa);
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) ) !important;
    color: transparent !important;
    -webkit-background-clip: text;
    background-clip: text;
  font-family: 'Open sans', sans-serif;
  font-weight: 900;
  font-size: 2.5em;
}

.banner-p {
  background-image: -webkit-radial-gradient(center, 3em 40px, #00ccff, #9a87fa);
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) ) !important;
    color: transparent !important;
    -webkit-background-clip: text;
    background-clip: text;
  font-family: 'Open sans', sans-serif;
  font-weight: 500;
  font-size: 2.5em;
}

.side-bar {
  display: flex;
  position: fixed;
  height: 100vh;
  overflow: scroll initial;
}

.side-bar-background {
  color: #fff;
  background-color: #252525 !important;
}